@model OdeToFood.ViewModels.HomeIndevViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>

    @foreach (var restaurant in Model.Restaurants)
    {
        <h2>@restaurant.Id</h2>
        <div>@restaurant.Name</div>

    }

</body>
</html>