@model OdeToFood.ViewModels.HomeIndevViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>

    @foreach (var restaurant in Model.Restaurants)
    {
        <h2>@restaurant.Id</h2>
        <div>@restaurant.Name</div>
        <div><a asp-action="Details" asp-route-id="@restaurant.Id">More</a></div>

    }

    <a asp-action="Create">Add Restaurant</a>

</body>
</html>